<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />

    <title>Document</title>
</head>

<body>
    <h1 id="showid">The latest searches</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/new">search book</a>
    </nav>


    <main id="result">
        <% books.forEach(book=> { %>
            <div id="book">
                <h2 id="title">
                    <%= book.title %>
                </h2>
                <!-- <img src="<%= book.image %> " alt=""> -->
                <p id="auther">
                    <%= book.auther %>
                </p>
                <p id="description">
                    <%= book.description.slice(0, 100) %> ...
                </p>
                <p>*****************************************************************************************************************************************************</p>

            </div>
            <% }) %>
    </main>
</body>

</html>


