<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for a book</title>
</head>

<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/search">search book</a>
        </nav>

    </header>




    <main>
        <p id="form_title">Search by tilte or auther</p>
        <form id="search_form" method="post" action="/searches">
            <div id="input">
                <input type="text" name="keyword" placeholder="Enter a tilte or auther">
            </div>
            <div id="input">
                <input type="radio" name="search_by" value="intitle" id="intitle">
                <label for="title">Title</label>
            </div>

            <div id="input">
                <input type="radio" name="search_by" value="inauthor" id="inauthor">
                <label for="title">Auther</label>
            </div>
            <div id="input">
                <input type="submit" value="Search the Google Books API">
            </div>
        </form>
    </main>



</body>

</html>