body{
background-color: cornflowerblue;
}


#indexh1{
    color: black;
   font-family: fantasy;
   font-size:10vw
}

#newh1{
    color: black;
   font-family: fantasy;
   font-size:10vw
}

#showh1{
    color: black;
    font-size: 150px;
   text-align: center;
   font-family: fantasy;
   font-size:10vw

}

body nav a{
    color: black;
    display: inline;
    margin-right: 25px;
    font-size: 40px;
    font-family: fantasy;
    font-size:10vw
   

}




#form_title{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   


}

#search_form{
    background-color: rgb(124, 128, 136);
   

}



#result {
   
    background-color: rgb(185, 181, 181);
    color: black;
    box-shadow: 7px 5px 5px -1px rgba(0,0,0,0.7);
}

#result #title {
   
    font-size: 30px;
    color: white;
    margin-top: 30px;
   

}
