nav a{
    font-family:fantasy;
    font-size: 20px;
    color: black;

}


body{
    background-color: slategray;
   
}


#form{
    width: 50%;
    text-align: center;
    background-color: gainsboro;
    height: 200px;
}

input{
    font-size: 20px;
    font-family: fantasy;
    
}

#submitbtn{
    font-family: fantasy;
    font-size: 20px;
}

h3{
    font-family: fantasy;
    margin-left: 250px;
}

span{
    font-family: fantasy;
}

#showdetailsbtn{
    font-family: fantasy;
    box-shadow: lightseagreen;
    border-radius: 2%;
}

#addtofavbtn{
    font-family: fantasy;
    box-shadow: lightseagreen;
    border-radius: 2%;
}




#booktitle{
font-family: fantasy;
font-size: 30px;
}