
#result #description {
   
    font-size: 20px;
    margin-top: 40px; 
}



#result #auther {
   
    font-size: 15px;
    font-style: italic;
    margin-top: 15px; 
}



#result {
    width: 90%;
    padding: 30px 0;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


#input{
    font-size: larger;
    
}


body nav{
    text-align: center;
}


#indexh1{
    
    font-size: 150px;
   text-align: center;
  
}


#newh1{
   
    font-size: 150px;
   text-align: center;
 
}